.logo {
    width: 25%;
}
img {
    width: 50%;
    border: 10px;
}
.social {
    width: 10%;
    padding: 10px 0px;
}
#highlights img {
    width: 15%;
}
#info-card img {
    width: 30%;
}

/*Page Inspiration css*/
#images-description-inspiration {
    width: 50%;
}
/*Page Why a web page? css*/
#hero-msg-comments img {
    width: 10%;
}