/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0C2840;
  --secondary-color:#1CDAFF;
  --accent1-color: #F1A208;
  --accent2-color: #FFFFFF;


  /* change the values below to your chosen font(s) */
  --heading-font: "Roboto Condensed";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color);/* headlines on a colored background */ 
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--secondary-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--accent1-color);
}
* {
    box-sizing: border-box;
    max-width: 1660px
}
body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
    font-size: 20px;
}
#content {
    max-width: 1660px;
    margin: 0 auto;
}
header {
    background-color: #0C2840;
    display: grid;
    grid-template-columns: 400px auto;
}
.logo {
    width: 200px;
}
#logo_link {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}
nav {
    display: flex;
    justify-content:space-around;
    grid-column: 2/3;
    text-align: center;
}
nav a {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 30px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
nav a:hover {
    background-color: #F1A208;
    color: var(--nav-hover-link-color);
}
/*HERO-BOX*/
#hero-img {
    width: 100%;
    height: 100%;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#hero-box {
    grid-column: 1/3;
    grid-row: 1/4;
}
/*Content*/
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 70px 0px 70px 70px;
    align-self: center;
}
#hero-msg p {
    padding: 10px 0px 10px 0px;
}
#values-box {
    padding: 10px 0px 10px 0px;
    display: flex;
    text-align: center;
}
#values-box h4 {
    text-align: center;
    padding: 0px 10px;
    line-height: 0.5em;
    font-size: 14px;
}
.home-title {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}
.button-box a{
    padding: 10px;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none;
}
.button-box a:hover {
    color: var(--accent2-color);
}
.button-box {
    padding: 20px 0px;
}

/*Highligths*/
#highlights {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    align-self: center;
    padding: 40px;
}
#highlights h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
.highlights-content img{
    width: 40%;
}
.highlights-content{
    padding: 20px;
}
.highlights-content h3{
    font-family: var(--heading-font);
}
#highlights-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/*Images description*/
#images-description {
    display: grid;
    padding: 20px;
    text-align: center;
    place-content: center;
    background-color: var(--primary-color);
}
.container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    padding: 30px;
}
#images-description h2{
    color: var(--accent1-color);
    font-family: var(--heading-font);
}
.container img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
    align-self:self-end;
}
.content {
    bottom: 0;
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 20px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
}
/*Info-card*/
#Personal-info {
    width: 100%;
    display: grid;
    padding: 70px;

}
#info-card img{
    width: 100%;
}
#info-card {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 300px auto;
    width: 80%;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
    background-color: var(--primary-color);
}
#info-img {
    display: grid;

}
#info-img img {
    display: grid;
    align-self: center;
    justify-self: center;
}
#content-info {
    padding: 20px;
}
#content-info {
    color: white;
}
#content-info h5{
    line-height: 0em;
    font-size: 14px;
    color: var(--secondary-color);
}
#content-info h2 {
    color: var(--accent1-color);
    font-family: "Roboto Condensed";
}
#content-info p{
    padding: 20px 0px;
    font-size: 18px;
}
footer {
    background-color: rgb(49, 109, 165);
    padding: 25px 50px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--paragraph-font);

}
footer a{
    color: var(--secondary-color);
    text-decoration: none;

}
footer a:hover {    
    color: var(--accent1-color);
}
footer p {
    font-size: 20px;
    font-family: "Roboto Condensed";
}
footer p:nth-of-type(1) {
    color: var(--accent2-color);
}
footer p a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color)
}

.social img {
    width: 50px;
}
@media screen and (max-width: 900px) {
    header {
        background-color: #0C2840;
        display: grid;
        grid-template-columns: auto auto;
    }
    nav, footer {
        box-sizing: border-box;
        display: block;
        padding: 15px;
    }
    nav a {
        display: block;
    }
    #hero-img {
        width: 100%;
        height: auto;
    }
    #hero {
        display:inline;
    }
    #hero-msg {
        padding: 20px;
        text-align: center;
    }
    #values-box {
        justify-content: center;
    }
    .container {
        width: 90%;
        display: inline;
        align-self: center;
        justify-self: center;
    }
    #info-card {
        display: inline;
    }
    #highlights-display {
        display: inline;
    }
}


/*Css for Inspiration Page*/

  .mySlides1, .mySlides2 {
    display: none;
    grid-column: 1/2;
    grid-row: 1/4;
}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1660px;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .slideshow-container img{
    width: 100%;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--accent1-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .button-box-inspiration a{
    padding: 10px;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none;
}
.button-box-inspiration a:hover {
    color: var(--accent2-color);
    
}
.button-box-inspiration {
    padding: 5px 0px;
    text-align: center;
}
#hero-msg-inspiration {
    padding: 10px;
    align-self: center;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 5px;
    left: 25%;
}
#hero-msg-inspiration h2{
    text-align: center;
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

#images-description-inspiration img {
    padding: 50px;
    width: 80%;
}

.content-inspiration-1 {
    padding: 50px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: left;
}
.content-inspiration-1 img {
    width: 80%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.content-inspiration-2 {
    padding: 50px;
    background-color: var(--primary-color);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: right;
}
.content-inspiration-2 img {
    width: 80%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.content-inspiration-1 h2{
    font-family: var(--heading-font);
}
.content-inspiration-2 h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
.content-inspiration-2 p{
    color: var(--headline-color-on-color);
}
.content-inspiration-1 {
    padding-right: 100px;
}
.content-inspiration-2 {
    padding-left: 100px;
}

@media screen and (max-width: 900px) {
    
    #images-description-inspiration {
        width: 100%;
    }
    #hero-msg-inspiration {
        position: static;
    }
    .slideshow-container img {
        width: 100%;
    }
    .content-inspiration-1 {
        display: inline-block;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding-right: 0%;
        padding: 20px;
    }
    .content-inspiration-2 {
        display: inline-block;
        padding-right: 0%;
        padding: 20px;
        text-align: center;
    }
}
